.DS_Store
outfiles
.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
.Rhistory
results/results_official
results/results_mt
results/raster_results
results/unzipped
results/results_mt
results/clean_data_for_visuals_system_May2022.csv
results/clean_data_for_visuals_range_May2022.csv
